pebble_bed/post/chute.dat filter=lfs diff=lfs merge=lfs -text
sph_1/post/sph_.dat filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
openmc_pebbles/geom.h5 filter=lfs diff=lfs merge=lfs -text
openmc_pebbles/geom.vti filter=lfs diff=lfs merge=lfs -text
openmc_pebbles/geometry.xml filter=lfs diff=lfs merge=lfs -text
